.logo {
  font-family: OpenSans;
  color: var(--dark-color-text);
  font-weight: 700;
  font-size: 30px;
}

.logo_color {
  color: var(--accent-color-text);
}

@media(max-width:1100px) {
  .logo {
    font-size: 26px;
  }
}

@media(max-width:600px) {
  .logo {
    font-size: 18px;
  }
}