.nav {
  display: grid;
  grid-template-columns: 151px 1fr 354px;
  align-items: center;
  gap: 99px;
}

.menu {
  background-color: var(--accent-color-text);
  border: none;
  border-radius: 10px;
  font-size: 22px;
  color: var(--light-color-text);
  padding-top: 14px;
  padding-bottom: 14px;
}

.menu__img {
  vertical-align: middle;
}

.search {
  position: relative;
  font-size: 16px;
}

.search__input {
  width: 100%;
  padding: 14px 40px;
  border: none;
  background-color: #efefef;
  border-radius: 30px;
  outline: none;
}

.search__btn {
  position: absolute;
  top: 0;
  right: 0;
  background-color: var(--accent-color-text);  
  border: none;
  border-radius: 30px;
  width: 101px;
  height: 100%;
}

.nav__list {
  display: flex;  
  justify-content: space-between;
}

.nav__btn {
  background-color: transparent;
  border: none;
  font-weight: 700;
  font-size: 16px;
}

.nav__icon {
  width: 36px;
  height: 36px;
  display: block;
  margin: 0 auto;
}