.articleWrap {
  display: grid;
  grid-template-columns: 1fr 532px;
  column-gap: 143px;
  padding-bottom: 150px;
  margin: 0 auto; 
  grid-template-areas:     
    "main aside"
  ; 
  
  @media (max-width: 1500px) {
    grid-template-columns: 1fr 300px;
    gap: 20px;
    }
  @media (max-width: 1300px) {
    padding: 0 42px 100px;      
  }
  @media (max-width: 1000px) {
    grid-template-columns: 1fr;
    grid-template-areas: 
    "main"
    "aside";
    gap: 60px;
    padding: 0 34px 80px;   
    }
  @media (max-width: 600px) {
    grid-template-columns: 1fr;
    grid-template-areas: 
    "main";
    gap: 0px;
    padding: 0 20px 50px;   
    }
}

.main {
  grid-area: main;
}

.aside {
  grid-area: aside;
  display: flex;
  flex-direction: column;
  row-gap: 50px;
  @media (max-width: 1000px) {
    flex-direction: row;
    gap: 60px;
    justify-content: space-between;
    width: 100%;
  }
  @media (max-width: 600px) {
    display: none;
  }
}

.bread {
  margin-bottom: 80px;
  @media (max-width: 1300px) {
    margin-bottom: 60px;
  }
  @media (max-width: 600px) {
    margin-bottom: 30px;
  }
}

.nav-breadcrumb {
  display: flex;  
  align-items: flex-start;
  font-weight: 700;
  font-size: 16px;
  @media (max-width: 1000px) {
    font-size: 14px;
  }
  @media (max-width: 600px) {
    font-size: 8px;
  }

  &__li {
    display: flex;
    align-items: center;  
    margin-left: 16px;
    color: $dark-color-text;
    @media (max-width: 600px) {
      margin-left: 8px;
      margin-right: 0;
    }

    &:not(:last-child):after { 
      content: '';
      display: block;
      width: 6px;
      height: 9px;
      background-image: url("../assets/icons/Vector.svg");
      margin-left: 16px;

      @media (max-width: 600px) {
        margin-left: 8px;
      }
    }
    
  }
  &__title {
    display: block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 500px;
  }
}

.article {
  padding-top: 10px;
  font-weight: 400;
  font-size: 22px;
  line-height: 33px;
  color: $dark-color-text;  
  margin-bottom: 100px;
  @media (max-width: 1300px) {     
    font-size: 18px;
    line-height: 27px;
    margin-bottom: 60px;
  }
  @media (max-width: 1000px) {     
    font-size: 16px;
    line-height: 21px;
    margin-bottom: 35px;
  }
  @media (max-width: 600px) {     
    margin-bottom: 50px;
  }
  
  &__title {
    font-size: 50px;
    line-height: 65px;
    margin-bottom: 40px;
    @media (max-width: 1300px) {     
      font-size: 40px;
      line-height: 50px;      
    }
    @media (max-width: 1000px) {     
      font-size: 28px;
      line-height: 36px;
      margin-bottom: 20px;
    }
    @media (max-width: 600px) {     
      font-size: 18px;
      line-height: 22px;      
    }
  }

  &__img {
    @media (max-width: 1000px) {     
      max-width: 46%;   
    }
  }
}

.footer-article {
  display: flex;
  justify-content: space-between;
  gap: 30px;
  color: $dark-color-text;

  @media (max-width: 600px) {     
    // flex-direction: row-reverse;
    flex-direction: column-reverse;    
    // gap: 50px;
  }  

  &__back {
    font-size: 16px;
    font-weight: 700;
    @media (max-width: 1200px) {     
      align-self: flex-end;
    } 
    @media (max-width: 600px) {     
      align-self: flex-start;
    } 

    &:before {
      content: '';
      display: inline-block;
      vertical-align: middle;
      margin-right: 10px;
      width: 24px;
      height: 24px;
      background-image: url("../assets/icons/arrow_small.svg");
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
    }
  }  

  &__about {
    display: flex;
    flex-direction: column;
    align-items: flex-end;  
    @media (max-width: 600px) {     
      // align-items: flex-start;
    } 
  }

  &__author {
    display: block;
    font-size: 22px;
    font-weight: 400;
    margin-bottom: 20px;
    color: black;
    @media (max-width: 1000px) {     
      font-size: 18px;
    } 
  }

  &__date {
    color: $add-color;
    margin-bottom: 15px;  
  }

  &__info {
    align-self: flex-start;
  }
}


