.footer {
  background-color: $dark-color-text;
  color: $light-color-text;

  &__container {
    padding-top: 80px;
    padding-bottom: 80px;
    @media(max-width: 1300px) {
      padding-top: 60px;
    }
    @media(max-width: 1100px) {
      padding-bottom: 37px;
    }
    @media(max-width: 750px) {
      padding-top: 30px;
    }
  }

  &__wrapper {
    display: flex;    
    @media(max-width: 1300px) {
      display: block;     
    }
  }

  &__logo {
    margin-right: 118px;
    @media(max-width: 1300px) {      
      margin-bottom: 60px;
    }
    @media(max-width: 1100px) {      
      margin-bottom: 40px;
    }
    @media(max-width: 750px) {      
      margin-bottom: 27px;
    }
  }

  &__bottom {
    display: flex;
    font-weight: 700;
    font-size: 16px;
    justify-content: space-between;
    @media(max-width: 480px) {
      font-size: 10px;
    }
  }
  
  &__author {        
    margin-right: 245px;    
    @media(max-width: 1600px) {
      margin-right: 50px;
    } 
    @media(max-width: 1100px) {
      margin-right: 0;
    } 
  }

  &__author-name {
    margin-bottom: 10px;  
  }
}

.nav {
  margin-bottom: 50px;
  flex-grow: 1;

  &__list {
    display: flex;
    gap: 100px;    
    @media(max-width: 1300px) {
      gap: 80px;
    }
    @media(max-width: 1100px) {
      justify-content: space-between;
    }
    @media(max-width: 750px) {
      flex-direction: column;
      gap: 30px;
    }
  }
  &__title {
    font-weight: 700;
    font-size: 32px;
    margin-bottom: 40px;         
    @media(max-width: 1300px) {
      margin-bottom: 30px;
    }
    @media(max-width: 1000px) {
      font-size: 26px;
      margin-bottom: 20px;
    }
    @media(max-width: 750px) {
      width: max-content;         
      margin-bottom: 10px;     
      cursor: pointer;       
    }
    @media(max-width: 600px) {      
      font-size: 20px; 
    }
  }
  &__btn {
    display: none;    
    width: 17px;
    height: 17px;
    background-color: $dark-color-text;
    border: none;
    background-image: url("../assets/icons/polygon1.svg");
    background-repeat: no-repeat;
    background-position: center;        
    @media(max-width: 750px) {
      display: inline;
      transform: translateY(-10%);
      margin-left: 12px;
    }
    @media(max-width: 480px) {
      transform: translateY(10%);     
    }

    &_dark {
      background-image: url("../assets/icons/polygon2.svg");
      background-color: transparent;
    }

    &_open {
      transform: rotate(180deg);  
    }
  }

  &__item_catalog {
    max-width: 480px;  
    @media(max-width: 1100px) {
      max-width: max-content;
    }
  }

  &__item_buyer {
    flex-grow: 0.8;        
    @media(max-width: 1100px) {
      flex-grow: 0;    
    }
  }
  &__item_contacts {
    flex-grow: 1.2;    
    @media(max-width: 1100px) {
      flex-grow: 0;
    }
  }
}

.sublist {
  // border: 1px solid red;
  display: flex;
  flex-direction: column;
  row-gap: 15px;
  font-weight: 400;
  font-size: 22px;   
  overflow-x: hidden;
  @media(max-width: 1000px) {
    font-size: 16px;
    row-gap: 10px;
  }

  &_catalog {    
    flex-direction: row;
    flex-wrap: wrap;  
    column-gap: 30px;     

    @media(max-width: 1600px) {
      flex-direction: column;
    }    
    @media(max-width: 750px) {
      visibility: hidden;
      opacity: 0;
      height: 0;
      // transition: opacity 0.3s, visibility 0.3s;
      transition: opacity 1s, visibility 1s;
    }    
  }

  &_buyer {
    @media(max-width: 750px) {
      visibility: hidden;
      opacity: 0;
      height: 0;
      transition: opacity 0.3s, visibility 0.3s;
    } 
  }

  &__item {
    line-height: 33px;     
    width: 220px;
    @media(max-width: 1000px) {
      line-height: 24px;  
      min-width: max-content;
    }
  }

  &__icons {
    display: flex;
    gap: 20px;
    @media(max-width: 1000px) {
      gap: 13px;
    }
  }

  &__icon-link {
    display: block;
    width: 26px;
    height: 26px;
    background-repeat: no-repeat;
  }
}

.sublist_show {
  visibility: visible;
  opacity: 1;
  height: auto;
}

.sublist-contacts__item {
  font-size: 16px;
  font-weight: 700;
  line-height: 21px;  
  margin-bottom: 12px;      
    @media(max-width: 1000px) {      
      font-size: 12px;
      line-height: 16px;      
    }
    @media(max-width: 480px) {      
      font-size: 10px;    
      margin-bottom: 0;
    }
  &:nth-child(2) {
    @media(max-width: 1000px) {
      margin-bottom: 14px;      
    }     
  }           
}
.sublist-contacts__link {
  display: block;      
}

.sublist__icon-link {
  &_wsp {
    background-image: url("../assets/icons/ant-design_whats-app-outlined.svg");
  }

  &_inst {
    background-image: url("../assets/icons/bi_instagram.svg");
  }

  &_yout {
    background-image: url("../assets/icons/ant-design_youtube-outlined.svg");
  }

  &_fb {
    background-image: url("../assets/icons/feather_facebook.svg");
  }

  &_tgr {
    background-image: url("../assets/icons/la_telegram-plane.svg");
  }
}
