.banner {
  margin-bottom: 60px;
}

.banner__box {
  /* background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
  url("../assets/images/banner.jpg"); */

  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
  -webkit-image-set(
    url("../assets/images/banner.avif") 1x,
    /* url("../assets/images/banner.webp") 1x,
    url("../assets/images/banner.jpg") 1x, */
  );

  background-image: -image-set(
    url("../assets/images/banner.avif") 1x,
    /* url("../assets/images/banner.webp") 1x,
    url("../assets/images/banner.jpg") 1x, */
  );
  
    background-repeat: no-repeat;
    background-size: cover;  
    background-position: center;
    border-radius: 23px;  
    padding-top: 145px;
    padding-bottom: 40px;
}

.banner__title {
  font-size: 70px;
  line-height: 91px;
  padding: 0 112px;
  margin-bottom: 100px;
}

.banner__time {
  text-align: center;
}

.time__title {
  font-size: 16px;
  line-height: 21px; 
  margin-bottom: 5px;
}

.time__duration {
  display: inline-flex;
  justify-content: space-between; 
}

.time__show {
  display: flex;
  align-items: baseline;   
}

.time__show:not(:last-child) {
  margin-right: 30px;
}

.time__digital {
  font-weight: 700;
  font-size: 60px;
  margin-right: 6px;
}

.time__alpha {
  font-size: 32px;
  line-height: 42px;  
}

.display_invisible {
  display: none;
}

@media(max-width:1100px) {
  .banner__box {
    background-image: url("../assets/images/banner1024.jpg");
    padding-top: 80px;
    padding-bottom: 36px;
  }
  .banner__title {
    font-size: 40px;    
  }
  .time__digital {
    font-size: 40px;    
  }
  .time__alpha {
    font-size: 16px;    
  }
  .time__show:not(:last-child) {
    margin-right: 30px;
  }
}

@media(max-width:800px) {  
    .banner__box {      
      padding-top: 64px;
      padding-bottom: 30px;
    }
  .banner__title {
    font-size: 30px;    
    padding-left: 80px;
  }
  .time__digital {
    font-size: 30px;    
  }

  .time__show:not(:last-child) {
    margin-right: 10px;
  }
}

@media(max-width:600px) {    
  .banner__title {
    font-size: 22px;  
    padding: 0;
    text-align: center;
  }
}

@media(max-width:480px) {
  .banner {
    margin-bottom: 20px;
  }
  .banner__box {   
    background-image: url("../assets/images/banner320.jpg");
    padding-top: 50px;
    padding-bottom: 30px;
  }
  .time__digital {
    font-size: 20px;    
  }
  .time__alpha {
    font-size: 12px;    
  }
  .time__show:not(:last-child) {
    margin-right: 8px;
  }
}