.logo {
  font-family: OpenSans;  
  font-weight: 700;
  font-size: 30px;
}

.logo_dark {
  color: var(--dark-color-text);
}

.logo_light {
  color: var(--light-color-text);
}

.logo_color {
  color: var(--accent-color-text);
}

@media(max-width:1100px) {
  .logo {
    font-size: 26px;
  }
}

@media(max-width:600px) {
  .logo {
    font-size: 18px;
  }
}