@font-face {
  @include fontFace (Lato, 400);
    src: local("Lato"), url("../assets/fonts/lato-regular.woff2") format("woff2"), url("../assets/fonts/lato-regular.woff") format("woff");
}

@font-face {
  @include fontFace(Lato, 700);
  src: local("Lato"), url("../assets/fonts/lato-bold.woff2") format("woff2"), url("../assets/fonts/lato-bold.woff") format("woff");  
}

@font-face {
  @include fontFace(OpenSans, 700);
  src: local("Open Sans Bold"), local("Open-Sans-Bold"), url("../assets/fonts/open-sans-v34-latin-700.woff2") format("woff2"), url("../assets/fonts/open-sans-v34-latin-700.woff") format("woff");  
}


// @font-face {
//   font-family: Lato;
//   src: local("Lato"), url("../assets/fonts/lato-regular.woff2") format("woff2"), url("../assets/fonts/lato-regular.woff") format("woff");
//     font-weight: 400;
//     font-display: swap;
// }

// @font-face {
//   font-family: Lato;
//   src: local("Lato"), url("../assets/fonts/lato-bold.woff2") format("woff2"), url("../assets/fonts/lato-bold.woff") format("woff");
//     font-weight: 700;
//     font-display: swap;
// }

// @font-face {
//   font-family: OpenSans;
//   src: local("Open Sans Bold"), local("Open-Sans-Bold"), url("../assets/fonts/open-sans-v34-latin-700.woff2") format("woff2"), url("../assets/fonts/open-sans-v34-latin-700.woff") format("woff");
//   font-weight: 700;
//   font-display: swap;
// }
