$light-color-text: #ffffff;
$dark-color-text: #2d2d2d;
$accent-color-text: #3670c7;
$item-color: #38c0eb;
$sale-color: #ffbd13;
$add-color: #8f8f8f;  

@mixin fontFace($name, $weight) {
  font: {
    family: $name;
    weight: $weight;
    display: swap;
  }  
}

@mixin size1600 {
  @media(max-width: 1600px) {
    @content;
  }
}
